.accordion {
    max-width: 1400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
    margin: 1rem auto;
}

.accordion-item {
    width: 93%;
    display: flex;
    flex-flow: column nowrap; 
}

.accordion-item-header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    font-size: 1.5rem;
    background-color: rgb(45,45,45);
    color: white; 
    cursor: pointer;
}

.accordion-item-header:hover {
    filter: brightness(125%);
}

.accordion-item-content {
    padding: 1.5rem;
    padding-block: 0rem;
    padding-right: 3.9rem;
    font-size: 1.5rem;
    background-color: rgb(45,45,45);
    margin-top: 2px;
}

.accordion-item-content p {
    margin-bottom: 1.5rem;
}
    
