  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  /* a {
    text-decoration: none;
    color: inherit;
  } */
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  img,
  video {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6,
  p {
    margin: 0;
  }
  
  :focus {
    outline: none;
  }
  