  :root {
    background-color: black;
    
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
  }
  
  ul,
  ol {
    list-style: none;
  }

  li {
    margin: 0;               
    padding: 0;              
    list-style: none;     
}
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

input {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  line-height: normal;
  color: inherit;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input::placeholder {
  color: inherit;
  opacity: 1;
}

  button {
    all: unset;
    padding: 0;
    margin: 0;
    font: inherit;
    color:inherit;
    cursor: pointer;
    border: none;
    background: transparent;

  }
  
  img,
  video {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
  }
  
  h1, h2, h3, h4, h5, h6,
  p {
    margin: 0;
  }
  
  :focus {
    outline: none;
  }

  .container-1400 {
    max-width: 1400px;
    margin: 0 auto;
  }

  address {
    display: inline;
  }