.landing {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

header {
    height: 97vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.99) 0%, /* Start with almost full black at the top */
        rgba(0, 0, 0, 0.7) 25%, /* Fade slightly to a darker gray towards the middle */
        rgba(0, 0, 0, 0.5) 50%, /* Middle is brighter with more transparency */
        rgba(0, 0, 0, 0.7) 75%, /* Fade again to a darker gray towards the bottom */
        rgba(0, 0, 0, 0.99) 100% /* End with almost full black at the bottom */
    ), url('../assets/header-bg.jpg') no-repeat center center;
    background-size: cover; 
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}




.netflix-logo {
    box-sizing: border-box;
    color: rgb(229, 9, 20);
    display: block;
    fill: rgb(229, 9, 20);
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    height: 40px;
    overflow-clip-margin: content-box;
    overflow-x: hidden;
    overflow-y: hidden;
    text-size-adjust: 100%;
    width: 148px;
}

.nav {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
 margin: auto; 
}

.nav-sign-in-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-sign-in-container input {
    background: transparent;
   opacity: .9;
}

.nav-sign-in-button {
    background-color: rgb(229, 9, 20);
    border: none;
    border-radius: 10%;
    padding-block: .4rem;
    padding-inline: .8rem;
    font-size: .75rem;
    cursor: pointer;
    transition: filter .2s ease-in-out;
}

.nav-sign-in-button:hover {
    filter: brightness(80%);
}

.header-main {
    max-width: 1400px;
    margin: 0 auto;
    padding-inline: 300px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.header-slogan {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.header-slogan h1 {
    font-size: 4rem;
}

.ad-banner {
    max-width: 1400px;
    margin: 0 auto;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    height: 110px;
    gap: .75rem;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
    will-change: transform, filter; /* will-change property adds smoother animations */

}

.ad-banner:hover {
    transform: scale(1.025);
    filter: brightness(125%);
}



.popcorn {
    width: 75px;
    height: 100%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    background-image: radial-gradient(51.39% 511.66% at 47.68% -217.91%, rgb(255, 153, 0) 0%, rgb(229, 9, 20) 17.27%, rgb(14, 27, 79) 79.44%, rgb(0, 4, 19) 100%);
    background-image: url('../assets/popcorn-two.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

.ad-info-container {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 20px;
    background: rgb(30,1,68);
    background: linear-gradient(90deg, rgba(30,1,68,1) 40%, rgba(0,12,71,1) 80%);
}

.learn-button {
    background-color: rgb(89, 89, 89);
    opacity: .7;
    padding: 1rem;
    border-radius: 5px;
    transition: filter .3s ease;
}

.learn-button:hover {
    filter: brightness(125%);
}

main {background-color: black;}

.trending-now {
    display: flex;
    flex-flow: column nowrap;
    margin: 4rem auto;
}

.trending-now h4 {
    font-size: 2rem;
}

.filters-container {
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem;
    gap: 1rem;
}

.reasons-to-join {
    max-width: 1400px;
    display: flex;
    flex-flow: column nowrap;
    margin: 4rem auto;
}

.reasons-to-join h4 {
    font-size: 2rem;
}

.info-card-container {
    height: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    padding: .5rem;
}

.info-card {
    width: 300px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem;
    gap: 1rem;
    border-radius: 10px;
    background-color: #080d2d;
    background-image: linear-gradient(135deg, #080d2d 0%, #251123ec 100%);
    
    }

.info-card-title {
    font-size: 1.5rem;
}

.info-card-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 30%;
    width: 30%;
    align-self: flex-end;
}

.info-card-image.one {
    background-image: url("../assets/card-image-1.png");
}
.info-card-image.two {
    background-image: url("../assets/card-image-2.png");
}
.info-card-image.three {
    background-image: url("../assets/card-image-3.png");
}
.info-card-image.four {
    background-image: url("../assets/card-image-4.png");
}


.faq {
    max-width: 1400px;
    margin: 4rem auto;
}

.faq h2 {
    font-size: 2rem;
    padding: 1rem;
}